<div id="<%= dom_id area %>">
<tr>
  <td>
  <%=area.id%>
  </td>
  <td>
    
    <%= link_to area.code, area %>
   
  </td>

  <td>
   
    <%= area.name %>
  </td>

  <td>
    
    <%= area.total_schools %>
  </td>
</tr>
</div>
