<p style="color: green"><%= notice %></p>

<h1>Areas</h1>

<div id="areas">
  <% @areas.each do |area| %>
    <%= render area %>
    
  <% end %>
  <%= paginate @areas %>
  <%= page_entries_info @areas %>
</div>

<%= link_to "New area", new_area_path %>
