
<div id="<%= dom_id school %>">
    <%= school.id %>
    <%= link_to school.code,edit_school_path(school) %>
  
    <%= school.name %>
  
    <%= school.category %>
     <%= school.area_id %>
   
    <%= school.countyCode %>
</div>
